body {
    background-color: red;
}

.sr-only {}

/* header & navigation */

.logo {
    margin: 2rem;

}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0 0% 0% / 0.75);
}

@supports (backdrop-filter: blue(1rem)) {

    /*not supported on all browsers */
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blue(1rem);
    }
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a>span {
    font-weight: 700;
    margin-inline-end: .75em;
}

/* media queries
    ** 
    ** */

/* media queries for nav menu */
@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;
        z-index: 1000;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        /* menu will slide out */
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background: url(assets/images/icon);
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("assets/images/")
    }
}

/* for medium screen size */
@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation a>span {
        /* remove numbers on nav links */
        display: none;
    }
}

/* for ?? size */
@media (min-width: 35em) {

    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        /* only top and bottom padding */
        padding-block: 0.5rem;
        padding-inline: clamp(3rem, 8vw, 10rem);
    }
}